.text-input {
    padding: $s-size;
    border: 1px solid #cacccd;
    height: 100%;
    font-size: $font-size-large;
    font-weight: 300;
    height: 58px
}

.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
    resize: none;
}